[Desktop Entry]
Name=Badgeprinter
Exec=/home/pi/badgeprinter/badgeprinter.py
Icon=/home/pi/badgeprinter/avatar.svg
Encoding=UTF-8
Terminal=false
Categories=None;
Type=Application